.main-theme {
  --primary-color: #155eef;
  --secondary-color: #d0d5dd;
  --white-color: #ffffff;

  // PRIMARY COLORS
  --primary-color-200: #f4ebff;
  --primary-color-300: #84adff;

  // GRAY COLORS
  --gray-color-50: #f9fafb;
  --gray-color-300: #d0d5dd;
  --gray-color-500: #667085;
  --gray-color-600: #475467;
  --gray-color-700: #344054;
  --gray-color-900: #101828;

  // ERROR COLORS
  --error-color-200: #fee4e2;
  --error-color-300: #fda29b;
  --error-color-500: #d92d20;
}
