.main-theme {
  --primary-color: #155EEF;
  --secondary-color: #D0D5DD;
  --white-color: #FFFFFF;

  // PRIMARY COLORS
  --primary-color-200: #F4EBFF;
  --primary-color-300: #84ADFF;

  // GRAY COLORS
  --gray-color-50: #F9FAFB;
  --gray-color-300: #D0D5DD;
  --gray-color-500: #667085;
  --gray-color-600: #475467;
  --gray-color-700: #344054;
  --gray-color-900: #101828;

  // ERROR COLORS
  --error-color-200: #FEE4E2;
  --error-color-300: #FDA29B;
  --error-color-500: #D92D20;
}
