.root {
  position: relative;
}

.currentLocale {
  display: flex;
  align-items: center;

  cursor: pointer;

  color: var(--gray-color-500);

  font-size: 16px;
  font-weight: 400;
  gap: 10px;

  svg {
    max-width: 20px;
    max-height: 20px;
  }
}

.list {
  position: absolute;
  bottom: -100px;
  left: 0;

  min-width: 100%;

  max-width: max-content;

  margin-bottom: 0;
  padding: 12px;

  list-style: none;

  box-shadow: 0 8px 30px 0 #20253112;
}

.item {
  display: flex;
  align-items: center;

  padding: 6px 8px;

  cursor: pointer;

  gap: 5px;

  transition: 0.2s all linear;

  &:hover {
    background-color: #f3f5f6;
  }
}

.id {
  text-align: center;

  color: #1e1e1e;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.name {
  text-align: center;

  color: #808c9b;

  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}
